

<h1>top questions</h1>

<ul>
<% @questions.each do |question| %>
<section>
  <h2> <%= question.title %>
    <strong> ........ asked by, <%=question.user.username%> </strong>
  </h2>
</secion>
<% end %>
</ul>
