<form action="<%=questions_url%> " method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <label for="title">Title
    <input type="textarea" name="question[title]">
  </label>
  <br>
  <label for="body">Body
    <input type="text" name="question[body]">
  </label>
  <br>
  <button>submit question</button>
</form>
