<h1>Users</h1>

<ul>
<% @users.each  do |user|%>
  <li>
    <a href="/users/<%=user.id%>">
    <img src="<%=asset_path( user.avatar.url(:thumb) ) %>">
    <%=user.username %>
    </a>

    </li>
<% end %>
</ul>


<form class="edit_user" id="edit_user_1" enctype="multipart/form-data"
  action="/users" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="_method" value="patch">
  <input type="file" name="user[avatar]" id="user_avatar">
</form>
