<ul>
<% questions.each(function(question){ %>
  <section>
    <h2>
      <%=question.get("responses")%>
      <a class="question" href="#questions/<%=question.id%>"><%=question.get("title")%></a>
        <strong> ........ asked by, <%=question.get("author")%> </strong>
    </h2>
  </section>

<%  }) %>
