<div class="new-question-page">
<section class='how-to-section'>
  <h1>
  How to Ask: <% a %>
  </h1>

  <li>
  Is your question about NYC?
  </li>
  <li>
  We prefer questions that can be answered, not just discussed.
  </li>
  <li>
  Provide details. Share your research.
  </li>



</section>

<div class="errors"></div>

<form class="question-form">
  <label for="title">Title</label>
  <input class="ask-question-title" type="text" name="title">
  <textarea name="body" id="body" rows="20" cols="100">
  </textarea>

</form>
<button class="post-question">Post your Question</button>
</div>
