<section>
  <h1>
  How to Ask <% a %>
  </h1>

  Is your question about NYC?

  We prefer questions that can be answered, not just discussed.

  Provide details. Share your research.

  If your question is about this website, ask it on meta instead.

  visit the help center »
  asking help »

</section>
<form class="question-form">
  <label for="title">Title</label>
  <input type="text" name="title">
  <br>
  <textarea name="body" id="body" rows="10" cols="80">
  </textarea>

</form>
<button class="post-question">Post your Question</button>
