h1, h2, li, ul, section, a, div, body, strong, span{
  padding: 0;
  border: 0;
  margin: 0;
  color: inherit;
  font-style: inherit;

}

h1, h2, li, ul, section, div, body, strong, span{
  display: block;
}

body {
  font-family: sans-serif;
  padding-bottom: 40px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.group:after{
  content:'';
  display: block;
  clear: both;
}

.visible{
  opacity: 1;
  transition: opacity 1s;
  visibility: visible;
}

.invisible{
  opacity: 0;
  visibility:hidden
}

.help{
  display:none;
}

/**/
.content{
  clear: both;
}
.content > h1 {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content{
  width: 1000px;
  margin: auto;
}

/**/
.just-black{
  background: #222;
}

.black-bar{
  font-size: 14px;
  background: #222;;
  margin:auto;
  width: 1000px;
  height: 40px;
  /*overflow: hidden;*/
  color: white;
}
.black-bar:hover{
  overflow: visible;
}


.black-bar .stack-exchange{
  float: left;
}

.black-bar .header-options{
  float:right
}

.black-bar .header-options > li{
  float:left;
  padding: 5px;
}

.black-bar .header-options > li > input{
  margin: 5px;
  width: 215px;
}

.black-bar .header-options > li:hover{
  background: grey;
}
.search-bar{
  position:relative;
}
.search-bar-box{
  width: 200px;
}
/* static search results */
.static-search-results li{
  padding: 5px;
  color: #000099;
}
.static-search-results h1{
  margin-bottom: 20px;
}

#live-search-results{
  z-index:2;
  position: absolute;
  width: 500px;
  right: 0px;
  top: 30px;
  background: white;
  color: black;
  font: 12;
  border: 1px solid #222;
  border-radius: 1px;
  max-height: 400px;
  overflow: auto;
}
#live-search-results h1{
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
}

/**/


/* stackExchange dropdown */
.stack-exchange{
  cursor: pointer;
  display: block;
  position: absolute;
}

.stack-exchange label{
  cursor: pointer;
  display: block;
  padding: 15px 10px;

}

.stack-exchange li{
  display: block;
  padding: 5px;
  z-index: -1
}
.stack-exchange li:hover{
  background: white;
}

#drop-down{
  display: none;
}

#drop-down:checked ~ .stack-exchange{
  z-index: 1;
  background: grey;
  color: black;
  border: 1px solid black;
}
/**/


/**/

.nav-bar{
  margin:auto;
  width: 1000px;
}

.nav-bar-paths{
  float: right;
}

.nav-bar-paths > li{
  margin-top: 40px;
  font-size: 16px;
  float: left;
  padding: 5px 10px;
  background: grey;
  margin-left: 10px;
  color: white;
  border-radius: 1px;
}

.nav-bar-paths > li:hover {
  background: orange;
}

.nav-bar .logo {
  float: left;
  font-size: 22px;
  padding: 45px;
  padding-bottom: 0px;
  position:relative;
}
.nav-bar .logo > strong{
  font-weight: bold;
}

.nav-bar .logo  img{
  top: 13px;
  left: 0;
  position: absolute;
  height: 50px;
  padding: 5px;
}
/**/



/*just code breakdown on login*/
.style-me{
  width: 1000px;
  border: 2px solid  #d3d3d3;
}
.style-me li{
  margin: 2px;
  margin-top:5px;
}

span{
  padding: 0;
  margin: 0;
  border: 0;
  float:left;
  color: black;
  height: 20px;
  text-align: center;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
/**/

/*google sign in link*/


#goog-signin{
  padding: 15px;
  position: relative;
  display: block;
}

#goog-signin > a{
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
}
#goog-signin  img{
  height: 50px;
  display: block;
  position: absolute;
  top: 1px;
  left: 135px;
}

/**/

/*random login button*/
#make-random-user{
  width: 143px;
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  background: grey;
  border: 1px solid black;
  border-radius: 5px;
}

/**/

/* users index */

.users-index-list section {
  display: block;
  float: left;
  width: 230px;
  padding: 0px 10px;
  bakcground: red;
}

.users-index-list img {
  display: block;
  height: 50px;
  box-shadow: 2px 2px 1px #888888;
}

.users-index-list ul{
  opacity: 0;
}

.users-index-list img:hover {
  position: absolute;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 100px;
  padding-right: 175px;
  background: grey;
  border: 1px solid black;
  transition: padding .5s;
  z-index: 1;
}

.users-index-list img:hover ~ strong{
  position: absolute;
  color: white;
  top: 30px;
  left: 95px;
  z-index: 2;
  transition: .5s;
}

.users-index-list img:hover ~ ul{
  opacity: 1;
  display: block;
  position: absolute;
  top: 75px;
  left: 20px;
  z-index: 4;
  color: white;
  transition: 1s;
}
.users-index-list a{
  height: 50px;
  width: 60px;
  padding: 10px;
  display: block;
  position: relative;
}

.users-index-list strong {
  color: blue;
  font-weight: 400;
  position: relative;
  left: 70px;
  top: -50px;
}
.users-index-list li {
  font-size: 14px;
  width: 200px;
  margin: 10px;
}

/**/


/* question show page */
.question-show-title{
  padding: 10px;
}

.question-show-author-tag{
  width: 850px;
  padding: 5px;
  padidng-top: 0px;
  white-space: nowrap;
  margin: auto;
  text-indent: 700px;
  border-bottom: 1px solid grey;
}
.question-show-responses{
  text-indent: 50px;
  width: 900px;
}
/* */

/* user show page */

.history{
  position: relative;
  padding: 20px;
  padding-left: 5px;
}
.history h1{
  font-size: 22px;
  background: #FAEBD7;
  border-radius: 5px 5px 0 0;
  padding: 5px;
  width: 125px;
  text-align: center;
  display: block;
  float: left;
  border: 1px solid black;
  border-bottom: 0;
  margin-bottom: -1px;
  cursor: pointer;
  cursor: hand;
}

.question-index-false {
  clear: both;
  background: #FAEBD7;
  padding-left: 20px;
  padding-bottom: 20px;
  width: 600px;
  height: 300px;
  border: 1px solid black;
  box-shadow: 2px 2px 1px #888888;
  overflow-y: auto;
}

.question-index-false li {
  padding-top: 20px;
  color: #000099;
  font-weight: 500;
  font-size: 18px;
}

.in-back {
  display: none;
}

.in-front {
  display:block;
}

.user-show-tab-title.in-back{
  display: block;
  margin-bottom: -2px;
  border-bottom: 1px solid black;
  background: #E1D4C2;
}

/**/

/*question index page*/
.question-index-true {
  font-size: 28px;
  padding: 5px;
}
.question-index-true > li {
  border-top: 1px solid grey;
}


.question-index-true .count{
  font-size: 18px;
  line-height: 1.3;
  padding: 5px;
  text-align: center;
  width: 18px;
  position: relative;
  left: -70px;
  bottom: -30px;
}

.count.bestReply-true{
  background: orange;
}

.question-index-true .count > b{
  position:absolute;
  bottom: -20px;
  left: -15px;
  font-weight: 400;
  font-size: 16px;
}

.question-index-true .author{
  font-size: 16px;
  text-align: left;
  margin: 10px 0 10px 800px;
  /*margin-left: 800px;*/
  /*margin-top:20px;*/
}
