h1, h2, li, ul, section, a, div, body{
  padding: 0;
  border: 0;
  margin: 0;
  color: inherit;
  display: block;
  font-family: sans-serif;
}
body {
  padding-bottom: 40px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.no-login{
  visibility:hidden
}
.login{
  visibility:hidden
}
#visible{
  visibility:visible
}
.help{
  display:none;
}

#drop-down{
  display: none;
}
.stack-exchange{
  display: block;
  position: absolute;
}

.stack-exchange label{
  display: block;
  padding: 10px;
  padding-bottom: 15px;
}

.stack-exchange li{
  display: block;
  padding: 5px;
  z-index: -1
}
.stack-exchange li:hover{
  background: white;
}

#drop-down:checked ~ .stack-exchange{
  z-index: 1;
  background: grey;
  color: black;
  border: 1px solid black;
}

.group:after{
  content:'';
  display: block;
  clear: both;
}
.content{
  clear: both;
}
.content > h1 {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.just-black{
  background: #222;
}

.black-bar{
  font-size: 14px;
  background: #222;;
  margin:auto;
  width: 1000px;
  height: 40px;
  /*overflow: hidden;*/
  color: white;
}
.black-bar:hover{
  overflow: visible;
}


.black-bar .stack-exchange{
  float: left;
}

.black-bar .header-options{
  float:right
}

.black-bar .header-options > li{
  float:left;
  padding: 5px;
}

.black-bar .header-options > li > input{
  margin: 5px;
  width: 215px;
}

.black-bar .header-options > li:hover{
  background: grey;
}

.nav-bar{
  margin:auto;
  width: 1000px;
}

.nav-bar-paths{
  float: right;
}

.nav-bar-paths > li{
  margin-top: 40px;
  font-size: 16px;
  float: left;
  padding: 5px 10px;
  background: grey;
  margin-left: 10px;
  color: white;
  border-radius: 1px;
}

.nav-bar-paths > li:hover {
  background: orange;
}

.nav-bar .logo {
  float: left;
  font-size: 22px;
  padding: 45px;
  padding-bottom: 0px;
  position:relative;
}
.nav-bar .logo > strong{
  font-weight: bold;
}

.nav-bar .logo  img{
  top: 13px;
  left: 0;
  position: absolute;
  height: 50px;
  padding: 5px;
}

.content{
  width: 1000px;
  margin: auto;
}
