<ul class="nav-bar group">
  <li class="logo"><a href="#">Logo</a></li>
  <li><a href="<%=questions_url%>">Questions</a></li>
  <li><a href="<%=users_url%>">Users</a></li>
  <li><a href="<%=questions_unanswered_url%> ">Unanswered</a></li>
  <li><a href="<%= new_sessions_url%>">Ask Question</a></li>
</ul>
