<ul class="black-bar group">
  <li>
    <ul class="stack-exchange">
      <li>current community</li>
      <li>your communities</li>
      <li>more communities</li>
    </ul>
  </li>

  <li class="no-login" id="visible">
    <a  href="<%=new_user_url%>">sign up</a>
  </li>

  <li class="no-login" id="visible">
    <a href="<%=new_sessions_url%>">log in</a>
  </li>

  <li><a href="#">tour</a></li>

  <li>
    <ul class="help" >
      <li>tour</li>
      <li>help center</li>
      <li>meta</li>
    </ul>
  </li>

  <li><input type="text" name="search" value="search"> </li>


</ul>
